<footer>
    <div>
        <h3>Visit Us</h3>
        <p>CodeSquad Comics</p>
        <p>123 Dorchester Avenue</p>
        <p>Boston, MA 02124</p>
    </div>
    <div>
        <h3>Links</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <% if(user)  { %> 
                <li><a href="/logout">Logout</a></li> 
            <% } else { %> 
            <li><a href="/login">Login</a></li>
            <% }; %> 
        </ul>
    </div>
    <div>
        <h3>Follow Us</h3>
        <ul>
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="footimg">
        <h3>A Product of</h3>
        <img src="/img/CodeSquad-logo-b.png" alt=""></div>
</footer>
</body>
</html>