<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/08efa38fac.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js" defer></script>

    <title>CodeSquad Comics</title>
</head>
<body>