<div class="header">
    <img src="/img/CodeSquad-Comics-logo.png" alt="CODESQUAD COMICS">
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <% if(user)  { %> 
                <li><a href="/logout">Logout</a></li> 
            <% } else { %> 
            <li><a href="/login">Login</a></li>
            <% }; %> 
            
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
    <div class="dropdown"><i class="fa fa-bars fa-3x"></i></div>
</div>