<%- include('../partials/head') -%> 
<%- include('../partials/navbar') -%> 
    <div class="content-box columns">
    <div class="desc">
        <h1>ABOUT CODESQUAD COMICS</h1>
        <p>CodeSquad Comics is a collection of comics read by Isaiah Henry. The site is meant to display comic book covers and information about them. This includes the author, its rating, and other various details about the graphic novel. You can feel free to browse the collection below. If you click on the cover image or the details link of one if the books on the home page, you'll be able to see even more information about it. This includes the  publisher, genre, number of pages, and a brief synopsis. Login is only available to the admin at this time.</p>
    </div>

    <h2>COLLECTION DETAILS</h2>

    <div class="bookdet">
        <ul>
            <li>Total Comic Books: 12</li>
            <li>Latest Additions: 12</li>
            <li>5 Star Ratings: 5</li>
            <li>Publishers: 9</li>
        </ul>
    </div>
</div>

<%- include('../partials/footer') -%> 