<%- include('../partials/head') -%> 
<%- include('../partials/navbar') -%> 

    <div class="content-box">
    <div class="desc">
        <h1>CODESQUAD COMICS</h1>
        <p>CodeSquad Comics is a collection of comics read by Isaiah Henry. The site is meant to display comic book covers and information about them. This includes the author, its rating, and other various details about the graphic novel. You can feel free to browse the collection below. If you click on the cover image or the details link of one if the books, you'll be able to see even more information about it. This includes the  publisher, genre, number of pages, and a brief synopsis. The about page includes meta information about this collection. Login is only available to the admin at this time.</p>
    </div>
    </div>

    <div class="content-box">
    <h1>COMPLETE COMIC COLLECTION</h1>
    
    <section class="books">
        <% books.forEach( book => { %>
            
        
        <% }); %>

    </section>
    <div class="button" id="clickToAdd"><button>Display More</button></div>
    </div>
    <%- include('../partials/footer') -%> 