<%- include('../partials/head') -%> 
<%- include('../partials/navbar') -%> 
    <div class="content-box">
    <h1>Login</h1>

    <div class="form-container">
        <form method="POST" action="/login">
        <div>
            <label for="username">Username </label>
            <input name="username" placeholder="username" type="text" required>
        </div>

        <div>
            <label for="password">Password </label>
            <input name="password" placeholder="password" type="password" required minlength="10">
        </div>
        <input type="submit">
        </form>
    </div>
    <a href="auth/google"><button>Sign In With Google</button></a>
</div>
<%- include('../partials/footer') -%> 